/* General Styling */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--primary-dark); /* Light blue background */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  height: 50px;
}

/* Logo Styling */
.navigation_left {
  font-weight: bold;

  & img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 0.5rem;
  }
}

.navigation_left-link {
  text-decoration: none;
  color: var(--primary); /* Main blue color */
}

.logo_name {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  color: var(--white); /* Darker blue for contrast */
  font-weight: 700;
  letter-spacing: 0.5px;
  vertical-align: middle;
}

/* Navigation Links */
.navigation_right {
  display: flex;
  gap: 1.5rem; /* Spacing between links */
  list-style: none;
}

.navigation_link-item {
  font-size: 16px;
  font-variant: small-caps;
  font-weight: 500;
}

.navigation_link {
  text-decoration: none;
  color: var(--neutral-light); /* Dark gray for text */
  font-weight: 500;
  padding: 0.5rem;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 5px;
}

.navigation_link:hover {
  color: var(--primary); /* Highlight link on hover */
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
  .navigation_right {
    display: none; /* Hide links on small screens */
  }
}
